* {
	background-image: none;
}
window {
	background-color: rgba(12, 12, 12, 0.0);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-image: image(url("/home/yvonne/.config/wlogout/assets/Bitmap20142.jpg"));
}
button {
    /* color: #95B2F4;
	background-color: #1E1E1E; */
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}



#lock {
    background-image: image(url("/home/yvonne/.config/wlogout/assets/SwitchUser.bmp"));
}
#lock:hover {
    background-image: image(url("/home/yvonne/.config/wlogout/assets/SwitchUserHover.bmp"));
}


#logout {
    background-image: image(url("/home/yvonne/.config/wlogout/assets/LogOff.bmp"));
}
#logout:hover {
    background-image: image(url("/home/yvonne/.config/wlogout/assets/LogOffHover.bmp"));
}

#suspend {
    background-image: image(url("/home/yvonne/.config/wlogout/assets/StandBy.bmp"));
}
#suspend:hover {
    background-image: image(url("/home/yvonne/.config/wlogout/assets/StandByHover.bmp"));
}

#hibernate {
    background-image: image(url("/home/yvonne/.config/wlogout/assets/StandBy.bmp"));
}
#hibernate:hover {
    background-image: image(url("/home/yvonne/.config/wlogout/assets/StandByHover.bmp"));
}


#shutdown {
    background-image: image(url("/home/yvonne/.config/wlogout/assets/TurnOff.bmp"));
}
#shutdown:hover {
    background-image: image(url("/home/yvonne/.config/wlogout/assets/TurnOffHover.bmp"));
}

#reboot {
    background-image: image(url("/home/yvonne/.config/wlogout/assets/Restart.bmp"));
}
#reboot:hover {
	background-image: image(url("/home/yvonne/.config/wlogout/assets/RestartHover.bmp"));
}
